<script language="JavaScript" type="text/javascript">
    function postToGoogle() {
        var field1 = $('#emailinput').val();

        $.ajax({
            url: "https://docs.google.com/forms/d/1aQH7GJVUNdzig81yyaalb3C_OR28BpIXbv9VAS_OHt8/formResponse",
            data: {"entry.1038388665": field1},
            type: "POST",
            dataType: "xml",
            statusCode: {
                0: function() {
                    //Success Message
                    $('#form').hide()  
                    $('#subscribesuccess').show();                  
                },
                200: function() {
                    //Success Message
                    $('#form').hide()  
                    $('#subscribesuccess').show();   
                }
            }
        });
    }

    $(document).ready(function(){
        $('#form').submit(function() {
            ga('send', 'event', 'Subscribe', 'click', 'Subscribe_Main_Page');
            postToGoogle();
            return false;
        });
    });
</script>