/* BEGIN Corner Marker Styles */

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.m1 {
    position:absolute;
    top:0;
    left:0;
    height:18vh;
    width:18vw;
}

.m2 {
    position:absolute;
    top:0;
    right:0;
    height:18vh;
    width:18vw;
}

.m2 img {
    position:absolute;
    right:0;
}

.m3 {
    position:absolute;
    bottom:0;
    right:0;
    height:18vh;
    width:18vw;
}

.m3 img {
    position:absolute;
    right:0;
}

.m4 {
    position:absolute;
    bottom:0;
    left:0;
    height:18vh;
    width:18vw;
}
/* END Corner Marker Styles */


/* BEGIN General Styles */
.centerButton {
    background-color: rgb(0,0,255);
    position:absolute;
    bottom: 26vh;
    left: 32vw;
    width: 35vw;
    height: 20vh;
}

.leftButton {
    background-color: rgb(0,255,0);
    position:absolute;
    top: 30vh;
    left: 10vw;
    width: 20vw;
    height: 20vh;
}

.middleButton {
    background-color: rgb(0,255,0);
    position:absolute;
    top: 30vh;
    left: 40vw;
    width: 20vw;
    height: 20vh;
}

.rightButton {
    background-color: rgb(0,255,0);
    position:absolute;
    top: 30vh;
    left: 70vw;
    width: 20vw;
    height: 20vh;
}

.maintitle {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    font-size: 7em;
    -webkit-margin-before: 0em;
}

.maintitle h1 {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    
}

.basictitle {
    position: relative;
    float: left;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -200%);
    font-size: 5em;
    -webkit-margin-before: 0em;
}

.basictitle h1 {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    
}

p {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    -webkit-margin-before: 0em;
    font-weight:bold;
}
/* END General Styles */


/* BEGIN Candy Page Style */
.aeroimg {
    position:absolute;
    top:19vh;
    left:30vw;
    height:30vh;
    width:30vw;
}
.aeroButton {
    background-color: rgb(0,255,0);
    position:absolute;
    top: 42vh;
    left: 29.5vw;
    width: 18vw;
    height: 10vh;
}

.smartiesimg {
    position:absolute;
    top:23vh;
    left:62vw;
    height:22vh;
    width:22vw;
}
.smartiesButton {
    background-color: rgb(0,255,0);
    position:absolute;
    top: 42vh;
    left: 59.5vw;
    width: 18vw;
    height: 10vh;
}

.kitkatimg {
    position:absolute;
    top:49vh;
    left:30vw;
    height:30vh;
    width:30vw;
}
.kitkatButton {
    background-color: rgb(0,255,0);
    position:absolute;
    top: 72vh;
    left: 29.5vw;
    width: 18vw;
    height: 10vh;
}

.ccimg {
    position:absolute;
    top:49vh;
    left:60vw;
    height:30vh;
    width:30vw;
}
.ccButton {
    background-color: rgb(0,255,0);
    position:absolute;
    top: 72vh;
    left: 58vw;
    width: 20vw;
    height: 10vh;
}
/* END Candy Page Style */

.optionTopLeft {
    background-color: rgb(0,255,0);
    position:absolute;
    top: 40vh;
    left: 12vw;
    width: 37vw;
    height: 20vh;
}

.optionTopRight {
    background-color: rgb(0,255,0);
    position:absolute;
    top: 40vh;
    left: 52vw;
    width: 37vw;
    height: 20vh;
}

.optionBotRight {
    background-color: rgb(0,255,0);
    position:absolute;
    top: 62vh;
    left: 52vw;
    width: 37vw;
    height: 20vh;
}

.optionBotLeft {
    background-color: rgb(0,255,0);
    position:absolute;
    top: 62vh;
    left: 12vw;
    width: 37vw;
    height: 20vh;
}

.selectionText {
    font-size:4.5em;
}